:root {
    scrollbar-color: rgb(71, 197, 174) rgb(237, 249, 247);
    scrollbar-width: auto;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background: rgb(237, 249, 247);
}

::-webkit-scrollbar-thumb {
    background: rgb(71, 197, 174);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 160, 140);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(0, 96, 80);
}

html,
body {
    margin: 0;
    font-family: Cairo, Calibri, sans-serif;
    font-size: clamp(16px, 2.5vw, 20px);
    letter-spacing: 0.06rem;
    background-color: rgb(163, 226, 215);
    background-image: linear-gradient(
        to bottom,
        rgb(126, 214, 198),
        rgb(200, 238, 231)
    );
    background-attachment: fixed;
}

img,
video {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: clamp(800px, 80vw, 1400px);
    margin: 0 auto;
    background-color: white;
}

header,
section {
    padding: clamp(0.5rem, 3.5vh, 2rem) clamp(1rem, 3.5vw, 4rem);
}

section {
    border-top: 2px solid rgb(71, 197, 174);
}

#animals {
    font-size: 2.5em;
}

#ferret {
    background-position: center;
    background-size: cover;
}

#ferret:hover {
    cursor: url("../images/ferret-cursor.png"), pointer;
    filter: hue-rotate(90deg);
    transition: filter 1s;
}

.ferret {
    cursor: url("../images/ferret-cursor.png"), pointer;
}

/* Dylan's CSS */
@keyframes showAndGrow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

.animateDylan {
    display: inline-block;
    transform-origin: 0 0;
    animation: showAndGrow 2s ease-in-out infinite alternate;
}

/* Vincent's CSS */
.column {
    float: left;
    width: 45%;
    padding: 5px;
}

.row {
    content: "";
    clear: both;
    display: table;
}

/* Hidde's css */
.background {
    color: whitesmoke;
    background-color: #181818;
    font-size: 20px;
    font-family: "Cascadia Mono", sans-serif;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 5px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    border: 1px solid #707680;
    transition: 0.5s ease;
    user-select: none;
    font-family: "Cascadia Mono", sans-serif;
}

button:focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff;
}

button img {
    vertical-align: middle;
}

.run-code-button {
    margin-left: auto;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.run-code-button img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.active-glow {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff;
}

.image-text-container {
    display: flex;
    align-items: center;
}

.image-text-container img {
    margin-right: 10px;
}

.input_box {
    color: #C0937C;
    background-color: #181818;
    border-color: #1f1f1f;
    font-size: 20px;
    font-family: "Cascadia Mono", sans-serif;
}

.input_box::placeholder {
    color: #C0937C;
}

.bar {
    background-color: #1f1f1f;
}

.line_number {
    color: #707680;
}

.function {
    color: #DBDCB0;
}

.bracket {
    color: #F3D84B;
}

.string {
    color: #C0937C;
}

.variable {
    color: #B1DBFA;
}

.value {
    color: #719BD1;
}

.curly_bracket {
    color: #C777D0;
}

.comment {
    color: #699855;
}

.hidden {
    display: none;
}
